﻿@model Assignment_1.Models.friendlink

@{
    ViewBag.Title = "Edit Friendship";
}

<h2>Edit Friendship Status</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.requester)
    @Html.HiddenFor(model => model.requested)

    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
            <td>
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </td>
            <td></td>
            <td>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </td>
    </table>
</div>
}
<br />
<br />
<div>
    @Html.ActionLink("Back to Friend List", "Index")
</div>
