﻿@model IEnumerable<Assignment_1.Models.friendlink>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.client1.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client1.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.ActionLink("View Profile", "Details", "Profile", new { id = item.client1.person_id }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Edit Status", "Edit", new { id = item.client1.person_id }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Remove", "Remove", new { id = item.client1.person_id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}