﻿@model IEnumerable<Assignment_1.Models.friendlink>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.client.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.read)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            <input type="submit" value="Accept" onclick="location.href='@Url.Action("Accept", "Friend", new {id = item.client.person_id })'" class="btn btn-success btn-sm" />
            <input type="submit" value="Delete" onclick="location.href='@Url.Action("Delete", "Friend", new {id = item.client.person_id })'" class="btn btn-danger btn-sm" />
        </td>
    </tr>
}
