﻿@model Assignment_1.Models.client

@{
    ViewBag.Title = "Friends";
}

@if (Model.friendlinks1.Where(f => f.requested == Model.person_id && f.approved == 0).Count() > 0 &&
        Model.friendlinks.Where(f => f.requester == Model.person_id && f.approved == 0).Count() > 0)
{
    <h3>Requests</h3>
    <table class="table">
        <tr class="table-info">
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Timestamp")
            </th>
            <th>
                @Html.DisplayName("Read")
            </th>
            <th>
                @Html.DisplayName("Approved")
            </th>
            <th></th>
        </tr>
        @Html.Partial("FriendRequests", Model.friendlinks1.Where(f => f.requested == Model.person_id && f.approved == 0))
        @Html.Partial("SentRequests", Model.friendlinks.Where(f => f.requester == Model.person_id && f.approved == 0))
    </table>
}
else if (Model.friendlinks1.Where(f => f.requested == Model.person_id && f.approved == 0).Count() > 0)
{
    <h3>Requests</h3>
    <table class="table table-striped">
        <tr class="table-info">
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Timestamp")
            </th>
            <th>
                @Html.DisplayName("Read")
            </th>
            <th>
                @Html.DisplayName("Approved")
            </th>
            <th></th>
        </tr>
        @Html.Partial("FriendRequests", Model.friendlinks1.Where(f => f.requested == Model.person_id && f.approved == 0))
    </table>
}
else if (Model.friendlinks.Where(f => f.requester == Model.person_id && f.approved == 0).Count() > 0)
{
    <h3>Requests</h3>
    <table class="table table-striped">
        <tr class="table-info">
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Timestamp")
            </th>
            <th>
                @Html.DisplayName("Read")
            </th>
            <th>
                @Html.DisplayName("Approved")
            </th>
            <th></th>
        </tr>
        @Html.Partial("SentRequests", Model.friendlinks.Where(f => f.requester == Model.person_id && f.approved == 0))
    </table>
}

<h3>Friends</h3>
<table class="table table-striped">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Time")
        </th>
        <th></th>
    </tr>
    @Html.Partial("FriendList", Model.friendlinks1.Where(f => f.approved == 1))
    @Html.Partial("FriendList1", Model.friendlinks.Where(f => f.approved == 1))
</table>

@Html.ActionLink("Back to Home", "Index", "Home")