﻿@model Assignment_1.Models.friendlink

@{
    ViewBag.Title = "New";
}

<h2>Send Friend Request</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h4 class="col-md-10">
            @ViewBag.name
        </h4>
        <br />
        <div class="form-group">
            <div class="input-group col-md-10">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                <div class="input-group-append">
                    <input type="submit" value="Send Friend Request" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to Search Results", null, null, null, new { href = Request.UrlReferrer })
</div>
