﻿@model Assignment_1.Models.friendlink

@{
    ViewBag.Title = "Remove";
}

<h2>Remove Friend</h2>

<h3>Are you sure you want to unfriend @Html.DisplayFor(model => model.client.first_name)  @Html.DisplayFor(model => model.client.last_name)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal col-lg-10">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
