﻿
@model IEnumerable<Assignment_1.Models.client>

@{
    ViewBag.Title = "SearchResults";
}

<h2>Search Results:</h2>
<br />

<table class="table">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privacy_flag)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @if (item.privacy_flag == 1)
                {
                    <span class="badge badge-warning">Private</span>
                }
                else
                {
                    <span class="badge badge-info">Public</span>
                }
            </td>
            <td>
                @Html.ActionLink("View Profile", "Details", "Profile", new { id = item.person_id }, new { @class = "btn btn-primary btn-sm" })
                @if (item.person_id != Int32.Parse(Session["account_id"].ToString()) ||
                     item.friendlinks.Select(f => f.requester) == (Session["account_id"]) ||
                     item.friendlinks1.Select(f => f.requested) == (Session["account_id"]) )
                {
                    @Html.ActionLink("Send Friend Request", "New", new { id = item.person_id }, new { @class = "btn btn-primary btn-sm" })
                }
            </td>
        </tr>
    }

</table>
