﻿@model IEnumerable<Assignment_1.Models.friendlink>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.client1.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client1.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.read)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            <input type="submit" value="Cancel" onclick="location.href='@Url.Action("Cancel", "Friend", new {id = item.client1.person_id })'" class="btn btn-warning btn-sm" />
        </td>
    </tr>
}
