﻿@model Assignment_1.Models.account

@{
    ViewBag.Title = "Social Network";
}

<h2>Login</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal align-content-md-center">
        <h4>Welcome Back</h4>
        <hr />
        @if (ViewBag.error == 1)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Wrong Username/Password combination!
            </div>
        }

        <div class="float-right">
            <img src="/Images/social.jpg" width="240" alt="https://www.vectorstock.com/">
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-6">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password_hash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-6">
                @Html.PasswordFor(model => model.password_hash, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password_hash, "", new { @class = "text-danger" })
            </div>
        </div>
   
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}

<div>
    Don't have an account? @Html.ActionLink("Register", "Register")
</div>
