﻿@model Assignment_1.Models.account

@{
    ViewBag.Title = "Validation";
}

<h2>2FAuthentication</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @if (ViewBag.error == 1) { 
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Wrong Secret.
            </div>
         }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.secret, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.secret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.secret, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group col-md-4">
            <div class="col-md-offset-2">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
}