﻿@model IEnumerable<Assignment_1.Models.message>

@foreach (var item in Model)
{
    <tr style="cursor:pointer" data-href="@Url.Action("Private", "Message", new { id = item.client1.person_id })">
        <td width="25%">
            @Html.DisplayFor(modelItem => item.client1.first_name)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.client1.last_name)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.message_text)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
    </tr>
}
