﻿@model IEnumerable<Assignment_1.Models.message>

@foreach (var item in Model)
{
    <tr style="cursor:pointer" data-href="@Url.Action("Private", "Message", new { id = item.client.person_id })">
        <td width="25%">
            @Html.DisplayFor(modelItem => item.client.first_name)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.client.last_name)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.message_text)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
    </tr>
}
