﻿@model Assignment_1.Models.client

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>
<br />
<p>
    @Html.ActionLink("Start a Conversation", "New", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-hover">
    <tr class="table-info">
        <th width="25%">
            @Html.DisplayName("First Name")
        </th>
        <th width="25%">
            @Html.DisplayName("Last Name")
        </th>
        <th width="25%">
            @Html.DisplayName("Message")
        </th>
        <th width="25%">
            @Html.DisplayName("Time")
        </th>
    </tr>
    @{
        var senders = Model.messages.Where(m => m.receiver_id == Model.person_id).Select(m => m.receiver_id);
        var receivers = Model.messages1.Where(m => m.sender_id == Model.person_id).Select(m => m.sender_id);
    }
    @Html.Partial("../Friend/FriendList", Model.friendlinks.Where(f => senders.Contains(f.requested) ^ receivers.Contains(f.requested)))

    @Html.Partial("Conversations", Model.messages1.Where(m => m.sender_id == Model.person_id).OrderByDescending(m => m.timestamp))

    <!--Model.messages1.Where(m => m.sender_id == Model.person_id).Select(m=>m.sender_id) -->
    <!--Html.Partial("Conversations1", Model.messages.Where(m => m.receiver_id == Model.person_id).OrderByDescending(m => m.timestamp)) -->
</table>

<script src="~/Content/JavaScript.js"></script>