﻿@model Assignment_1.Models.message

@{
    ViewBag.Title = "New Message";
}

<h2>New Message</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.receiver_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("receiver_id", (IEnumerable<SelectListItem>)(ViewBag.friends), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.receiver_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.message_text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.message_text, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.message_text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Messages", "Index")
</div>

