﻿@model IEnumerable<Assignment_1.Models.message>

@{
    ViewBag.Title = "Private";
}

<h2>
    @ViewBag.name
</h2>

<table class="table">
    <tr class="table-dark">
        <th width="25%">
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th width="45%">
            @Html.DisplayNameFor(model => model.message_text)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.read)
        </th>
        <th width="20%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="25%">
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td width="45%">
                @Html.DisplayFor(modelItem => item.message_text)
            </td>
            <td width="10%">
                @if (item.read == 1)
                {
                    <span class="badge badge-info">Read</span>
                }
                else
                {
                    <span class="badge badge-primary">Delivered</span>
                }
            </td>
            <td width="20%">
                <input type="submit" value="Delete" onclick="location.href='@Url.Action("Delete", "Message", new {id = item.message_id })'" class="btn btn-outline-danger btn-sm" />
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("NewMessage", "Message", new { id = ViewBag.id }))
{
    @Html.AntiForgeryToken()
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="message_text" placeholder="Message" aria-label="Message" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input type="submit" value="Send Message" class="btn btn-outline-success" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Conversations ", "Index")
</div>