﻿@model IEnumerable<Assignment_1.Models.address>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal_code)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.country.country_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country.country_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.address_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.address_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.address_id })
            </td>
        </tr>
    }
</table>
