﻿@model Assignment_1.Models.address

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this address?</h3>
<div>
    <h4>
        @Html.DisplayFor(model => model.client.first_name)
        @Html.DisplayFor(model => model.client.last_name)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country.country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.country_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Address List", "Index", new { id = Model.person_id })
        </div>
    }
</div>
