﻿@model Assignment_1.Models.address

@{
    ViewBag.Title = "Details";
}

<h2>Address Details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.client.first_name)
        @Html.DisplayFor(model => model.client.last_name)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country.country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.country_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.address_id })
</p>
