﻿@model Assignment_1.Models.client

@{
    ViewBag.Title = "Index";
}
<h2>
    @Html.DisplayFor(model => model.first_name)
    @Html.DisplayFor(model => model.last_name)
</h2>

<p>
    @Html.ActionLink("Create New Address", "Create", new { id = Model.person_id })
</p>

@Html.Partial("AddressList", Model.addresses)

@Html.ActionLink("Back to Client Index", "Index", "Home")
