﻿@model IEnumerable<Assignment_1.Models.comment>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client.first_name) @Html.DisplayFor(modelItem => item.client.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @{
                    int comment_likes = item.comment_likes.Count();
                }
                @if (comment_likes > 0) { 
                    <span class="badge badge-info">@comment_likes</span>
                }
                @if (item.comment_likes.SingleOrDefault(l => l.comment_id == item.comment_id && l.person_id == Int32.Parse(Session["account_id"].ToString())) == null)
                {
                    <button onclick="location.href='@Url.Action("LikeComment", "Comment", new { id = item.comment_id })'" class="btn btn-outline-info btn-sm"><i class="fa fa-heart" aria-hidden="true"></i></button>
                }
                else
                {
                    <button onclick="location.href='@Url.Action("UnlikeComment", "Comment", new { id = item.comment_id })'" class="btn btn-info btn-sm"><i class="fa fa-heart" aria-hidden="true"></i></button>
                }
                @if (item.profile_id == Int32.Parse(Session["account_id"].ToString()))
                {
                    <button onclick="location.href='@Url.Action("Edit", "Comment", new { id = item.comment_id })'" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></button>
                    <button onclick="location.href='@Url.Action("Delete", "Comment", new { id = item.comment_id })'" class="btn btn-danger btn-sm"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                }
            </td>
        </tr>
    }
</table>
