﻿@model Assignment_1.Models.client

@{
    ViewBag.Title = "Profile";
    int loggedInUser = Int32.Parse(Session["account_id"].ToString());
    var friendsList = Model.friendlinks.Where(f => f.requester == loggedInUser).Union(Model.friendlinks1.Where(f => f.requested == loggedInUser));
}

<div>
    <h3 style="display:inline-block">
        Profile
    </h3>
    @if (Model.person_id == Int32.Parse(Session["account_id"].ToString())) { 
        <div class="btn-group float-right" role="group" aria-label="Button group with nested dropdown">
            @Html.ActionLink("Edit", "Edit", "Profile", null, new { @class = "btn btn-primary" })
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "Login")">Change Password</a>
                    @if (Model.addresses.SingleOrDefault(a => a.person_id == Model.person_id) != null)
                    {
                        <a class="dropdown-item" href="@Url.Action("Edit", "Address", new {id = loggedInUser})">Account Address</a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="@Url.Action("Create", "Address", new { id = loggedInUser })">Account Address</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<hr />
<div>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                @if (!String.IsNullOrEmpty(Model.profile_picture.ToString()) && (Model.privacy_flag == 0 || Model.person_id == loggedInUser))
                {
                    <img src="/Images/@Html.DisplayFor(model => model.picture.relative_path)" height="200" width="200" style="border-radius:50%" />
                }
                else if(Model.privacy_flag == 1 || String.IsNullOrEmpty(Model.profile_picture.ToString()))
                {
                    <img src="/Images/default.png" height="200" />
                }
            </div>
            <div class="align-self-center">
                <h2>
                    @Html.DisplayFor(model => model.first_name)
                    @Html.DisplayFor(model => model.last_name)
                </h2>
                @if (Model.privacy_flag == 1)
                {
                    <span class="badge badge-warning">Private</span>
                }
                else
                {
                    <span class="badge badge-info">Public</span>
                }
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-md-3">
            <b>@Html.DisplayNameFor(model => model.gender)</b>
        </div>
        <div class="col-2">
            @Html.DisplayFor(model => model.gender)
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-md-3">
            <b>@Html.DisplayNameFor(model => model.notes)</b>
        </div>
        <div class="col-2">
            @Html.DisplayFor(model => model.notes)
        </div>
    </div>
</div>

@if (Model.privacy_flag == 0 || Model.person_id == loggedInUser)
{
    <hr class="pb-3" />
    @Html.Partial("../Home/HomeList", Model.pictures.Where(p => p.person_id == Model.person_id))
}
