﻿@model IEnumerable<Assignment_1.Models.client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients Index</h2>

<form method="get" action="/Home/Search">
    <label>Search: </label><input type="text" name="name"/><input type="submit" name="search" value="Search"><input type="submit" name="Index" value="Clear">
</form>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.person_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.person_id }) |
            @Html.ActionLink("Address", "Index", "Address", new { id = item.person_id }, null) |
            @Html.ActionLink("Pictures", "Index", "Picture", new { id = item.person_id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.person_id })
        </td>
    </tr>
}

</table>
