﻿@model Assignment_1.Models.picture

@{
    ViewBag.Title = "Upload a Picture";
}

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <div class="container col-md-7">
                <div class="card mb-3">
                    <h3 class="card-header">Upload a new Picture</h3>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.caption, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.caption, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.Label("Image", new { @class = "control-label" })
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" name="newPicture" class="custom-file-input text-danger" />
                                    <label class="custom-file-label" for="inputGroupFile02">Choose image</label>
                                    @Html.ValidationMessageFor(model => model.relative_path, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.time, new { @class = "control-label" })
                            @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.location, new { @class = "control-label" })
                            @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <input type="submit" value="Upload" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to Home", "Index")
    </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


