﻿@model Assignment_1.Models.picture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.client.first_name)
        @Html.DisplayFor(model => model.client.last_name)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relative_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relative_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayName("Preview")
        </dt>

        <dd>
            <img src="/Images/@Html.DisplayFor(model => model.relative_path)" height="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Picture List", "Index", new { id = Model.person_id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.picture_id }) |
    @Html.ActionLink("Upload Picture", "Create", new { id = Model.person_id }) |
    @Html.ActionLink("View Client", "Details", "Home", new { id = Model.client.person_id }, null)
</p>
