﻿@model IEnumerable<Assignment_1.Models.picture>

@foreach (var item in Model)
{

    <div>
        <div class="container col-md-7 col-md-offset-3">
            <div class="card mb-3">
                <h3 class="card-header">
                    @Html.DisplayFor(modelItem => item.caption)
                    @if (item.person_id == Int32.Parse(Session["account_id"].ToString())) {
                        <div class="btn-group float-right" role="group" aria-label="Button group with nested dropdown">
                        @Html.ActionLink("Edit", "Edit", "Home", new {id = item.picture_id}, new { @class = "btn btn-primary" })
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="@Url.Action("Delete", "Home", new {id = item.picture_id })">Delete</a>
                            </div>
                        </div>
                    </div>
                    }
                </h3>
                <img src="/Images/@Html.DisplayFor(modelItem => item.relative_path)" style="width:100%" class="mx-auto d-block" />
                @if (item.likes.SingleOrDefault(l => l.picture_id == item.picture_id && l.person_id == Int32.Parse(Session["account_id"].ToString())) == null)
                {
                    <button onclick="location.href='@Url.Action("Like", "Home", new {id = item.picture_id })'" class="btn btn-outline-info"><i class="fa fa-heart" aria-hidden="true"></i> Like</button>
                }
                else
                {
                    <button onclick="location.href='@Url.Action("Unlike", "Home", new {id = item.picture_id })'" class="btn btn-info"> <i class="fa fa-heart" aria-hidden="true"></i> Unlike</button>
                }
                <div class="card-footer text-muted">
                    @Html.DisplayFor(modelItem => item.time) in <b>@Html.DisplayFor(modelItem => item.location)</b>
                </div>

                @Html.Partial("../Comment/Comments", item.comments.Where(c => c.picture_id == item.picture_id))

                <div>
                    @using (Html.BeginForm("Create", "Comment", new { id = item.picture_id }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group">
                            <input type="text" class="form-control" name="comment_text" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon2">

                            <div class="input-group-append">
                                <input type="submit" value="Post" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}