﻿@model Assignment_1.Models.client

@{
    ViewBag.Title = "Home";
}
<h2>Wall</h2>

@Html.ActionLink("Upload New Picture", "Create", "Home", new { @class = "btn btn-primary" })

@{
    int id = int.Parse(Session["account_id"].ToString());
    var friends = Model.friendlinks.Where(f => f.requester == id).Select(f=>f.requested).Union(Model.friendlinks1.Where(f => f.requested == id).Select(f => f.requester));
}

<hr />
@Html.Partial("HomeList", Model.pictures.Where(p => friends.Contains(p.person_id) || p.person_id == id))

